.np-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Creates a grid with 3 columns of equal width */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  /* Class that applies to each card */
  .np-card {
    border: 1px solid #ccc;
    margin: 1rem;
    text-align: start;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    width: 21rem;
  }

  /* Affects image */
  .np-card img {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    align-self: center;
  }
  
  /* Affects font size of title of card*/ 
  .np-card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }

  .np-card h3 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
    font-size: .8em;
    margin-bottom: 13.5px;
  }

  /* Class that defines container for centering child elements */
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Sets specific height for centering vertically */
  }

  .np-card-details {
    text-align: left;
  }