.about-section {
    padding-block: 2rem;
}

@media (min-width: 1200px) {
    .about-section {
        padding-inline: 14rem;
    }
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.member-card {
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    margin: 1rem;
    text-align: left;
    background-color: #f1f1f1;
    width: 21rem;
}

.member-card-image {
    width: 21rem;
    height: 28rem;
}

.member-card-body {
    background-color: #F0FDEE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#member-card-stats {
    display: flex;
    justify-content: center;
}

.total-stats {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline: 1rem;
}

.tools-used {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline: 1rem;
}
.tool-card {
    box-shadow: 0 .25rem .5rem 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    margin: 1rem;
    text-align: center;
    background-color: #f1f1f1;
}
.tool-card-image {
    width: 200px;
    height: 200px;
}
