.np-instance {
    background-color: white;
}

.np-header {
    padding-block: 1rem;
    margin-bottom: 2rem;
}

.np-attributes {
    text-align: left;
}

.np-carousel {
    background-color: dimgray;
}

.carousel-inner {
    height: 600px;
    padding-bottom: 25%; /* this sets carousel aspect ratio (4:1 here) */
  }
  
.carousel-item {
    height: 600px;
}
  
.carousel-item img {
    max-width: 100% !important;
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}

.main {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .main {
        flex-direction: row;
    }
}