.fm-cards-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr)); /* Creates a grid with 3 columns of equal width */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  /* Class that applies to each card */
  .fm-card {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 8px;
    text-align: start;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.2s ease-in-out;
    width: 300px;
    height: 500px;
  }
  
  /* Affects image */
  .fm-card img {
    display: block;
    width: 30vh;
    height: 30vh;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  /* Affects font size of title of card*/ 
  .fm-card h2 {
    font-size: 1.5rem;
    margin: 0;
    color: #333;
  }

  /* Class that defines container for centering child elements */
  .centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* Sets specific height for centering vertically */
  }